.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  margin-bottom: 5px;
  margin-top: 150px;
  color:azure;
}
button {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin:5px
}
body{
  background-color: cadetblue;
  
}
